// _base.scss

// Minimal reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
